html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{ margin: 0; padding: 0; border: 0; font-size: 100%; font-family: 'Raleway', sans-serif !important; vertical-align: baseline; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
h1, h2, h3, h4, h5, h6 { font-family: 'Shadows Into Light' !important; margin: 0.1em;}
body { line-height: 1; color: #3F3F3F;}
p { line-height: 1.5; text-align: justify;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}


h6 {
  margin: 0.4em 0 0 0;
}

.wrapper {
  display: flex;
  height: 300vh;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1 1 800px;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: space-around;
}

.footer-right {
  background-color: rgb(250, 250, 250, 0.7);
  border-radius: 15px;
  bottom: 1%;
  right: 1%;
  position: absolute;
  padding: 0.25% 0.7% 0.15% 0.7%;
}

.footer-left {
  background-color: rgb(250, 250, 250, 0.7);
  border-radius: 15px;
  bottom: 1%;
  left: 1%;
  position: absolute;
  padding: 0.25% 0.7% 0.15% 0.7%;
}

.light {
  color: #FAFAFA;
}

.dark {
  color: inherit;
}

/* Slide 1 */
.img-content {
  display: block;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.img-content-2 {
  width: 100%;
  height: auto;
  z-index: -1;
}


/*Slide 1*/

.cover-title {
  margin: 20vh auto auto auto;
  min-width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 4vh;
}

.cover-subtitle {
  margin: 1em auto auto auto;
  font-size: 2vh;
}

/* Slide 2 */

.img-content-3 {
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%:
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slide2-content {
  position: relative;
  margin: 12% auto;
  width: 75%;
  height: 50%;
}

.slide2-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 32%;
  height: 100%;
}

.slide2-text {
  background-color: rgba(237, 237, 237, 0.8);
  color: #1F1F1F;
  border-radius: 10px;
  padding: 2%;
  margin: 12% 0 auto 42%;
  width: 63%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bg-color {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.34079569327731096) 49%, rgba(196,220,224,1) 100%);
}

/* Slide 3 */
.short {
  min-height: 80vh;
}

.jg-legend {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 50%;
  display: inline-flex;
}

.color-box {
  height: 1em;
  width: 1em;
}
.color-1 {
  background-color: #000000;
}

.color-2 {
  background-color: #000000;
}

.slide3{
  position: relative;
  /*background-color: rgb(18, 13, 20, 0.9);*/
  border-radius: 20px;
  margin: 15vh auto;
  width: 75%;
  height: 50vh;
  /*color: rgb(230, 230, 230);*/
}

.slide3-plt {
  width: 50%;
  position: absolute;
  height: 100%;
  right: 0;
  top: 1vh;
}
.slide3-txt {
  width: 45%;
  position: absolute;
  top: 5vh;
  left: 2vh;
  max-height: 190px;
}

/* Slide 6 */
.half-image { /* Container for image */
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slide6-container {
  background-color: rgba(232,250,248, 0.7);
  padding: 5vh 5vw;
  border-radius: 20px;
  position: absolute;
  left: 0;
  margin: 13vh auto 12vh 8vw;
  width: 38%;
  height: 65%;
}

.inflat-plot {
  margin: 2vh auto;
  min-height: 10px;
  background-color: rgba(232,250,248, 0.7);
  -moz-box-shadow:0px 0px 12px rgba(232,250,248);
  -webkit-box-shadow:0px 0px 12px rgba(232,250,248);
  box-shadow:0px 0px 12px rgba(232,250,248);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.bottom-left {
  margin: 2vh auto;
  min-height: 10px;
}


/*Slide 7*/

.explore {
  margin: 2vh auto auto auto;
  width: 20%;
  height: 4vh;
  display: inline-block;
  padding: auto;
}

.pop-up-overlay {
 	position:absolute;
	display:none;
  /* color with alpha transparency */
  background-color: rgba(0, 0, 0, 0.7);
  /* stretch to screen edges */
  top: 0;
	left: 0;
  bottom: 0;
  right: 0;
}

.popup {
    position: absolute;
    width: 70vw;
    height: 70vh;
    display: none;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    /* center it ? */
    top: 50%;
    left: 50%;
    margin-left: -35vw;
    margin-top: -30vh;
}

.world {
  width: 30%;
  margin: 2% auto;
}

.slide7-right {
  margin: 2% auto;
  width: 68%;
}

.slide7-container {
  margin: 5vh auto;
  width: 100%;
}

.slide7-container-text {
  padding: 0 2vw 0 2vw;
  width: 70%;
}
/* Slide 8 */

.container-8 {
  margin: 0;
  margin: 0;
  min-height: 180vh;
  width: 100%;
  position: relative;
  background-image:url(./pictures/ven_refugee.jpg);
  background-attachment: fixed;
  background-size: cover;

}

.slide8{
  position: relative;
  background-color: rgb(18, 13, 20, 0.9);
  border-radius: 20px;
  margin: 7vh auto;
  width: 70%;
  height: 35vh;
  padding-top: 5vh;
  color: rgb(230, 230, 230);
}

.secret{
  position: relative;
  background-color: rgb(18, 13, 20, 0.9);
  border-radius: 20px;
  margin: 10vh auto;
  width: 70%;
  height: 50vh;
  padding-top: 5vh;
  color: rgb(230, 230, 230);
}

.slide8-spacer {
  position: relative;
  width: 90%;
  height: 110vh;
}

.slide8-plt {
  width: 65%;
  position: absolute;
  bottom: 5vh;
  left: 0;
}
.slide8-txt {
  width: 31%;
  position: absolute;
  bottom: 5vh;
  right: 2vh;
  max-height: 190px;
}

.legend{
    position: absolute;
    bottom: 0;
    left: 400px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.img-sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.slide8-container {
  margin: 5vh auto;
  width: 100%;
  background-color: pink
}

.slide8-container-text {
  padding: 0 2vw 0 2vw;
  width: 70%;
}
img#refugeetruck {
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  /* You may add things like width, height, background-size... */
}

/* Slide 9 */
.container-spl {
  margin: 0;
  margin: 0;
  min-height: 200vh;
  width: 100%;
  position: relative;
}

.heatmap {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
}

.slide9-content {
  height: 100vh;
  width: 60%;
  top: 0;
  right: 0;
  position: absolute;
}

.slide9-banner {
  height: 25vh;
  width: 99%;
  top: 9vh;
  position: absolute;
}

.slide9-text1 {
  width: 65%
  position: absolute;
  bottom: 0;
  margin: 40% 8vw 20% 10vw;
}

.heatmap-extra {
  height: 100vh;
  width: 60%;
  bottom: 0;
  right: 0;
  position: absolute;
}

.slide9-text2 {
  width: 50%;
  height: 40%;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto 10% 5% 40%;
}


/* Slide 10 */

.slide10-left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.slide10-plt1 {
  width: 70%;
  min-height: 20%;
}

/* Slide 11*/

.bg {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0.5) 100%);
}

.img-content-3 {
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%:
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slide11-content {
  position: relative;
  margin: 12% auto;
  width: 75%;
  height: 50%;
}

.slide11-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 32%;
  height: 100%;
}

.slide11-text {
  color: #1F1F1F;
  padding: 2%;
  margin: 12% 0 auto 42%;
  width: 63%;
  position: absolute;
  bottom: 0;
  right: 0;
}


.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: inline-block;
}

.y.axis path {
  display: inline-block;
}

text {
  font-size: 10px;
  }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

circle {
  fill: red;
}

#marker {
  stroke: black;
  fill: black;
}

.node {
  cursor: pointer;
}
.node circle {
fill: white;
stroke: steelblue;
stroke-width: 3px;
}
.node text {
font: 12px sans-serif;
}
.link {
fill: none;
stroke: #ccc;
stroke-width: 2px;
}

path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
/*.legend tr{    border-bottom:1px solid grey; }*/
/*.legend tr:first-child{    border-top:1px solid grey; }*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }

.legend td{
    padding:4px 5px;
    vertical-align:top;
}

.legendFreq, .legendPerc{
    align:right;
    width:50px;
}
.area.above {
  fill: rgb(252,141,89);
}

.area.below {
  fill: rgb(145,207,96);
}
.x_axis_diff path{
  display: inline;
  stroke: black
}


.stacked-chart-container {
  position: relative;
}

.stacked-chart-container .controls {
  position: absolute;
  top: 24px;
  left: 18px;
}

.stacked-chart .clickable {
  cursor: pointer;
}

.stacked-chart-container .tooltip {
  position: absolute;
  font-size: 11px;
  white-space: nowrap;
  border: 1px solid black;
  background-color: black;
  pointer-events: none;
  border-radius: 5px;
  display: none;
}

.stacked-chart-container .tooltip-wrapper {
  position: relative;
  padding: 6px;
}

.stacked-chart-container .tooltip-wrapper:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: white transparent transparent transparent;
}

.stacked-chart-container .tooltip-wrapper:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: white transparent transparent transparent;
}

.stacked-chart-container .tooltip-table {
  text-align: right;
}

.stacked-chart path,
.stacked-chart line,
.stacked-chart rect {
  shape-rendering: crispEdges;
}

.stacked-chart text {
  font: 10px sans-serif;
}

.stacked-chart .axis path,
.stacked-chart .axis line {
  fill: none;
  stroke: white;
}

.stacked-chart .series-below_17 {
  fill: #98abc5;
}

.stacked-chart .series-below_29 {
  fill: #8a89a6;
}

.stacked-chart .series-below_39 {
  fill: #7b6888;
}

.stacked-chart .series-below_49  {
  fill: #6b486b";
}

.stacked-chart .series-below_59  {
  fill: #a05d56;
}
.stacked-chart .series-below_69  {
  fill: #d0743c;
}
.stacked-chart .series-over_70 {
  fill: #ff8c00;
}

.stacked-chart .grid-lines {
  fill: none;
  stroke: lightgrey;
}

.stacked-chart .layer rect {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.stacked-chart .layer rect.highlighted {
  opacity: 1;
}

.stacked-chart .overlay {
  opacity: 0;
}

.stacked-chart .series-box {
  stroke-width: 2px;
}
.stacked-chart .series-below_17 .series-box {
  stroke: #98abc5;
}

.stacked-chart .series-below_29 .series-box {
  stroke: #8a89a6;
}

.stacked-chart .series-below_39 .series-box {
  stroke: #7b6888;
}

.stacked-chart .series-below_49 .series-box {
  stroke: #6b486b";
}

.stacked-chart .series-below_59 .series-box {
  stroke: #a05d56;
}
.stacked-chart .series-below_69 .series-box {
  stroke: #d0743c;
}
.stacked-chart .series-over_70 .series-box {
  stroke: #ff8c00;
}


.stacked-chart .disabled .series-box {
  fill-opacity: 0;
}

.stacked-chart .series-label {
  fill: white;
  text-anchor: end;
  alignment-baseline: central;
}

.axisWhite line{
  stroke: white;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
}  