html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{ margin: 0; padding: 0; border: 0; font-size: 100%; font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
h1, h2, h3, h4, h5, h6 { margin: 0.1em;}
body { line-height: 1; color: #222222;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

div {
  border-color: red;
  border-width: 0.5px;
  border-style: solid;
}


h6 {
  margin: 0.4em 0 0 0;
}


.wrapper {
  display: flex;
  height: 300vh;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1 1 800px;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

/* Slide 1 */
.img-content {
  display: block;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cover-title {
  color: rgba(220,220,220,1);
  /*background-color: rgba(251, 114, 0, 0.8);*/
  background-color: rgba(10, 10, 10, 0.7);
  margin-top: 50vh;
  margin-left: 50vw;
  width: 40%;
  text-align: right;
  padding: 1vh 5vw 2vh 5vw;
  display: inline-block;
  font-size: 3vh;
}


/* Slide 6 */
.half-image { /* Container for image */
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.inflat-plot {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12vh 8vw auto auto;
  min-height: 10px;
  min-width: 30%;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto 8vw 12vh auto;
  min-height: 10px;
  min-width: 30%;
}
