html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{ margin: 0; padding: 0; border: 0; font-size: 100%; font-family: 'Lato' !important; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
h1, h2, h3, h4, h5, h6 { font-family: 'Shadows Into Light' !important; margin: 0.1em;}
body { line-height: 1; color: #3F3F3F;}
p { line-height: 1.2;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

div {
  border-color: red;
  border-width: 0.2px;
  border-style: solid;
}

h6 {
  margin: 0.4em 0 0 0;
}


.wrapper {
  display: flex;
  height: 300vh;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1 1 800px;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: space-around;
}


/* Slide 1 */
.img-content {
  display: block;
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.img-content-2 {
  width: 100%;
  height: auto;
}


/*Slide 1*/

.cover-title {
  margin: 20vh auto auto auto;
  min-width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 4vh;
}

.cover-subtitle {
  margin: 1em auto auto auto;
  font-size: 2vh;
}

/* Slide 2 */

.img-content-3 {
  display: block;
  height: auto;
  width: 100%;
  z_index: 0;
}

.slide2-content {
  position: absolute;
  margin: 12% auto;
  width: 70%;
  height: 50%;
}

.slide2-animation {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto auto 0;
  max-width: 40%;
  min-width: 40%;
  overflow: hidden;
}

.slide2-text {
  margin: 12% 5% auto 42%;
  min-width: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bg-color {
  background: rgb(121, 211, 226);
  background: linear-gradient(180deg, rgba(121, 211, 226, 0.865983) 0%, rgba(255, 255, 255, 1) 73%)
}

/* Slide 6 */
.half-image { /* Container for image */
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slide6-container {
  background-color: rgba(232,250,248, 0.7);
  padding: 5vh 5vw;
  border-radius: 20px;
  position: absolute;
  left: 0;
  margin: 13vh auto 12vh 8vw;
  width: 35%;
  height: 65%;
}

.inflat-plot {
  margin: 2vh auto;
  min-height: 10px;
}

.bottom-left {
  margin: 2vh auto;
  min-height: 10px;
}


/*Slide 7*/

.explore {
  margin: 2vh auto auto auto;
  width: 20%;
  height: 4vh;
  display: inline-block;
  padding: auto;
}

.pop-up-overlay {
 	position:absolute;
	display:none;
  /* color with alpha transparency */
  background-color: rgba(0, 0, 0, 0.7);
  /* stretch to screen edges */
  top: 0;
	left: 0;
  bottom: 0;
  right: 0;
}

.popup {
    position: absolute;
    width: 70vw;
    height: 60vh;
    display: none;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    /* center it ? */
    top: 50%;
    left: 50%;
    margin-left: -35vw;
    margin-top: -30vh;
}

.slide7-left {
  width: 30%;
  margin: 2% auto;
}
.slide7-right {
  margin: 2% auto;
  width: 68%;
}
.slide7-container {
  margin: 5vh auto;
  width: 100%;
}

.slide7-container-text {
  padding: 0 2vw 0 2vw;
  width: 70%;
}


/* Slide 9 */
.container-spl {
  margin: 0;
  margin: 0;
  min-height: 200vh;
  width: 100%;
  position: relative;
}

.heatmap {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
}

.slide9-content {
  height: 100vh;
  width: 60%;
  top: 0;
  right: 0;
  position: absolute;
}

.slide9-banner {
  height: 25vh;
  width: 99%;
  top: 9vh;
  position: absolute;
}

.slide9-text1 {
  width: 65%
  position: absolute;
  bottom: 0;
  margin: 40% 8vw 20% 10vw;
}

.heatmap-extra {
  height: 100vh;
  width: 60%;
  bottom: 0;
  right: 0;
  position: absolute;
}

.slide9-text2 {
  width: 50%;
  height: 40%;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto 10% 5% 40%;
}


/* Slide 10 */

.slide10-left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
}


.slide10-plt1 {
  width: 70%;
  min-height: 20%;
}
