.wrapper {
  display: flex;
  overflow: scroll;
  height: 100vh;
  background-color: #ababab;
  color: "red";
}

.container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
